<html lang="en">
<head>
<title>%s games performance</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
 $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
});
</script>

<link rel="stylesheet" type="text/css" href="../templates/style.css"/>


</head>
<body>
<div style="text-align:center;font-size:30;">
<br>
<h1>%s game performance</h1>
</div>
<div id="content">

    <table cellspacing="0">
    <tr><th>Champion</th><th>Kills</th><th>Deaths</th><th>Assists</th><th>Minions</th><th>Gold</th><th>Wins</th><th>Losses</th></tr>